* {
    all: unset;

    font-family: 'Mononoki Nerd Font Mono';
    font-weight: 800;
}

.occupied.inactive {
    color: #f5e3bb;
}

.active {
    color: #f5e3bb;

}

.separator {
    font-size: 27px;
}

.workspaces {
    background-color: #d17288;
    color: #dfcfa9;

    padding-left: 8px;
    font-size: 1.6em;
}

.workspaces>.separator {
    color: #d17288;
    background-color: #d3c49e;
}

.spacer {
    background-color: #d3c49e;
}

.time {
    color: #d3c49e;
    background-color: #d17288;
    padding-right: 14px;    
}

.time>.separator {
    color: #d3c49e;
    background-color: #d17288;
    margin-right: 8px;
}

.date {
    color: #d17288;
    background-color: #d3c49e;
    padding-right: 14px;
}

.date>.separator {
    color: #d17288;
    background-color: #d3c49e;
    margin-right: 8px;
}

.tray {
    background-color: #d17288;
    color: #d3c49e;
    padding-right: 14px;
}

.tray>.separator {
    background-color: #d17288;
    color: #d3c49e;
    margin-right: 8px;
}

.icon {
    font-size: 24px;
    margin-bottom: 3px;
}
